body {
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.jumbotron {
    height: 96vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    border-radius: 0%;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 70px;
}

.jumbotron p {
    color: white;
    font-size: 25px;
}

.jumbotron hr {
    width: 50vw;
}

.jumbotron .btn {
    border-radius: 0px;
    opacity: 0.9;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10vh;
    color: black;
}

.container1 {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.container2 {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer {
    margin-top: 1vh;
}