{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="CHAT BOX">
    <meta name="author" content="{{author}}">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/chatbox/css/style.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'admin/css/chatbox/js/script.js' %}"></script>
  </head>

  <body>
    <div class="main">
      <ul>
        <li><a href="../">Home</a></li>
        <li><a href="../education/">Education</a></li>
        <li><a href="../skills/">Skills</a></li>
        <li><a href="../Experience/">Experience</a></li>
        <li><a href="../project/">Project</a></li>
        <li><a href="../guestbook/">Guest Book</a></li>
        <li class="active"><a href="#">Chat Box</a></li>
      </ul>
    </div>

    <section name="Chatbox" id="myChat">
      <div class="wrapper">
        <div class="chat-box">
          <div class="chat-head">
            <h2>Chat</h2>
            <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16" id="panah">
          </div>

          <div class="chat-body">
            <div class="msg-insert"></div>
            <div class="chat-text" id="chat">
              <textarea placeholder="Press Enter" id="myText"></textarea>
            </div>
          </div>
        </div>
      </div>
    </section>

    <select id="tema"></select>
    <button class="apply-button" id="button">apply</button>
  </body>
</html>
